
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
} 

.mobile-menu,
.burger {
    display: none;
}


           /* ------- COMPUTER -------  */

/* #region Header - Start */


/* #region - Logo Start */
.logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px ;
    padding: 24px 0;
    
}



.logo-text {
    color: #2E2F42;
    line-height: 1.17;
    font-weight: 700;
    
}

/* #endregion - Logo End */


.header-menu {
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.studio {
    position: relative;
    color: #404bbf;
}

.menu-link.studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.nav-button {
    display: none;
}

.contact-link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.webstudio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion Header - Completed */


/* #region Section 1 Your-business - Start */

.container-your-business {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    text-align: center;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/fon-back/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    z-index: 0;
    overflow: hidden;
}

.container-your-business::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.container-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.business-solution {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    color: #ffffff;
    font-weight: 700;
}

/* кнопка */
.btn {
    display: block;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}


/* #endregion - button - End */
/* #endregion Section 1 - Completed */


/* #region Section 2 - Characteristics - Start */

.container-characteristics {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

.feature-menu {
    display: flex;
    gap: 24px;
}

.menu-list {
    background-color: #FFFFFF;
}

.feature {
    width: calc((100% - 72px) / 4);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Section 2 - Completed */


/* #region Section 3 - Our-Team - Start */

/* #region Section 3 - Our-Team - Start */

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
}

.our-team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.img-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    flex: 1 1 calc((100% - 3 * 24px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-list:first-child {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-padd {
    padding: 32px 0;
    width: 100%;
}

.img-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.img-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* Social */
.social-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

/* #endregion Section - 3 - Completed */

/* #endregion Social Media - Completed */

/* #endregion Section - 3 - Completed */

/* #region Section 4 - Portfolio - Start */

.our-portfolio {
    padding: 120px 0;
}

.portfolio-item:first-child {
    width: calc((100% - 48px) / 3);
}


.portfolio-heading {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.container-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item,
.portfolio-item.special-card {
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item.special-card:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* #region wrapper - Start */

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: var(--text-light, #f4f4fd);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
}
/* #endregion wrapper - Completed */


/* #endregion Section 4 -Completed end */

/* #region - Backdrop - Start */

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text, #2e2f42);
    margin-bottom: 16px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.contact-form .form-field:first-child {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
}

.form-field-text {
    margin-bottom: 16px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.form-input {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    background-color: transparent;
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    pointer-events: none;
    fill: rgba(46, 47, 66, 0.4);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within .input-icon {
    fill: #4d5ae5;
}

.contact-form .form-field:nth-child(4) .form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form .form-field:nth-child(4) .form-textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.checkbox-label {
    display: block;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.contact-form .form-checkbox .checkbox-box {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.checkbox-icon {
    width: 10px;
    height: 8px;
    fill: currentColor;
    stroke: currentColor;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.checkbox-input:checked+.checkbox-label .checkbox-box {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    color: var(--checkbox-fill-color);
    opacity: 1;
}


.checkbox-input:checked+.checkbox-label .checkbox-icon {
    opacity: 1;
    transform: scale(1);
}


.checkbox-box {
    display: inline-flex;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox-label .checkbox-box {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}
:root {
    --checkbox-fill-color: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-submit-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
    background-color: #404bbf;
}

.modal-close-btn:focus,
.form-submit-btn:focus,
.form-input:focus,
.contact-form .form-field:nth-child(4) .form-textarea:focus,
.checkbox-label:focus {
    outline: 2px solid rgba(77, 90, 229, 0.2);
    outline-offset: 2px;
}


.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

/* #endregion - Backdrop - Completed */

 
/* #region Footer - Start */

.footer-box {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}



.footer-container {
    margin-right: 120px;
    width: 264px;
}

.footer-info {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-studio {
    color: #f4f4fd;
}

.footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
    max-width: 264px;
}

/* Social Media */

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white, #ffffff);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}


.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--blue, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info .social-link:hover,
.footer-info .social-link:focus {
    background-color: #31d0aa;
}

.footer-info .social-icon {
    fill: var(--icon-color, #f4f4fd);
    width: 24px;
    height: 24px;
}


/* #region - Subscribe - Start */

.subscribe-container {
    display: flex;
    flex-direction: column;
    margin-left:auto;

}

/* Заголовок */
.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
/* Форма */
.subscribe-form {
    display: flex;
    gap: 24px;
}

/* Лейбл */
.subscribe-label {
    display: flex;
}

/* Поле вводу */
.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

/* Кнопка підписки */
.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    text-align: center;
}

/* Іконка всередині кнопки */
.subscribe-icon {
    margin-left: 16px;
}

/* #endregion - Subscribe - Completed */


/* #endregion Footer - Completed */





                 /* ------ ADAPTIVE ------ */


/* #region - Adaptive - Start  */

/* #region - Mobile - Start */


/* #region - Header - Start */

/* #region - (max-width : 320px) - Start */
@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .logo {
        padding: 16px 0;
        display: block;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu , .site-address    {
        display: none;
    }   

    .nav-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}   

/* #endregion - ( max-width : 320px ) - Completed */


/* #endregion - Header ( max-width : 320px ) - Completed */


/* #region - Main - Start  */

@media screen and (max-width:320px) { 
    .container-your-business {
        max-width: 320px;
    }
}


/* #region - (width - 320px) - Start */




 
   /* #region - container-characteristics - Start */
 @media screen and (max-width: 320px) {

   .feature-menu {
       flex-direction: column;
   }

   .icon-container {
       display: none;
   }

   .feature-text {
       width: 288px;
       flex-direction: column;
   }

   .feature-title {
       width: 288px;
       text-align: center;
   }
 }
   /* #endregion - container-characteristics - Completed */


 /* #region - Our Team - Start */
@media screen and (max-width:320px) {
    .our-team {
        max-width: 320px;
    }

    .section-title {
        width: 320px;
        
    }

    .our-team-list {
        width: 264px;
        padding: 0 28px;
    }
}
 /* #endregion - Our Team - Completed */


/* #region - Our-portfolio - Start */

@media screen and (max-width:320px) {

    .portfolio-heading {
        max-width: 320px;
    }

    .portfolio-list {
        max-width: 320px;
    }

    .portfolio-img {
        width: 288px;
       
    }

  .portfolio-img-wrapper {
    width: 100%;    
  }
  
  .container-cards {
    width:288px;
  }

  .portfolio-item:first-child {
    width: 320px;
  }
}




/* #endregion - Our-portfolio - Completed */


/* #region - Footer - Start */

@media  screen and (max-width:320px) {

    .footer-container {
        text-align: center;
        margin: 0 0 72px 16px;
    }

    .footer-text {
        text-align: left;
    }
    .footer-info {
        height: 644px;
    }
    .footer-box {
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 72px;
    }

    .subscribe-form {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-items {
        width: 208px;
        height: 80px;
       margin:0 0 72px 56px;
        text-align: center;
    }
    .subscribe-container {
        text-align: center;
        margin-left:16px;
    }

    .subscribe-button {
        width: 165px;
        margin-left: 56px;
    }

}

/* #endregion - Footer -Completed */

/* #endregion - (width - 320px) - Completed */

/* #endregion - Main - End */

/* #region - Footer - Start */
/* #region - (width - 320px) - Start */


/* #endregion - (width - 320px) - Completed */

/* #region - (width - 480px) - Start */


/* #endregion - (width - 480px) - Completed */

/* #region - (width - 768px) - Start */
/* #endregion - (width - 768px) - Completed */

/* #endregion - Mobile - Completed */

/* #endregion - Mobile - Completed */

/* #region - Tablet - Start */

/* #region - Header - Start */
/* #region - (max-width:768px) - Start */

@media screen and (max-width: 768px) {
 
    .container {
        max-width: 768px ;

    }
    
    .header-menu {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 0, 0.16), 0 2px 2px 0 rgba(46, 47, 66, 0.1);
    }


}


/* #endregion - (max-width:768px) - Completed */

    


/* #region - Main - Start */
/* #region - (max-width:768px) - Start */
/* #endregion - (max-width:768px) - Completed */

/* #endregion - Main - Completed */


/* #endregion - Tablet - Completed */


/* #region - Main - Start */

/* #region - Container - characteristic - Start  */


@media screen and (max-width:768px) {
    
    .portfolio-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .icon-container {
        display: none;
    }

.container-characteristics .feature-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-characteristics .feature-menu .feature {
    flex: 0 0 calc(50% - 12px);
    box-sizing: border-box;
}

.feature-title {
    font-size: 36px;
}

.feature-text {
    font-size: 16px;
}
}


/* #endregion - Container - characteristic - Completed */

/* #region - our-portfolio - Start  */

@media screen and (max-width:768px) {
.our-portfolio .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .our-portfolio .portfolio-item {
        display: block;
        flex: 0 0 calc(50% - 12px);
        box-sizing: border-box;
    }
}


/* #endregion - our-portfolio - Completed */


/* #endregion - Main - Completed */


/* #endregion - Adaptive - Completed */

